*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
   
    

}

.liHeader{
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;

}

a{
    text-decoration: none;
    color: white;

}

a:hover{
color: black;
}

nav{
    justify-content: space-between;
    display: flex;
    text-align: center;
   

}

.header{
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(13, 112, 112)

}

.ul{
    display: flex;
    list-style: none;
    margin-right: 40px;
    line-height: 90px;

}

.inicio{
    line-height: 90px;
    margin-left: 40px;
}

.foto{
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 250px;
    height: 350px;
    border: 1px solid black;
    
}

.contenedorFoto{
    display: flex;
   
}

.textoFoto{
  margin-left: 60px;
  margin-top: 25px;

}

.textoFoto h1{
    font-size: 40px;
    margin-top: 40px;
    
}

.textoFoto p{
    margin-top: 30px;
    font-size: 34px;
}

.contenedorParrafo{
    margin-left: 15px;
    margin-right: 3px;
    margin-top: 25px;
    padding-bottom: 50px;
   

}

.contenedorParrafo h1{
    font-size: 37px;
    text-decoration: underline;
}

.contenedorParrafo p{
    font-size: 27px;
    margin-top: 20px;

}

.borde{
    border: 1px solid black;
    padding: 25px;
    padding-top: 5px;
    margin: 5px 15px;
    box-shadow: 10px 5px 5px rgb(90 91 91);
    margin-top: 60px;
    

}
body{
  background-image: url(../img/shapelined-_JBKdviweXI-unsplash.jpg);;
  background-size: cover;
  

 

}


/*footer*/

#footerIndex{
    margin-top: 75px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;


}

#footerExperiencia{
    margin-top: 750px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;


}

#footerEducacion{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;


}

#footerHabilidades{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}


#footerContacto{
    margin-top: 45px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

/*footer*/

.texto{
    display: flex;
}

.texto h1{
    font-size: 35px;
}

#habilidades{
font-size: 40px;
margin-left: 25px;
margin-top: 25px;
border: 1px solid black;
box-shadow: 10px 5px 5px rgb(90 91 91);
padding: 50px;
padding-bottom: 15%;
margin-right: 25px;
font-weight: bold;

}


.textoEducacion{
margin: 65px;



}

.textoEducacion h1{
  text-decoration: underline;

}

.textoEducacion_1{

font-size: 25px;
border: 1px solid black;
box-shadow: 10px 5px 5px rgb(90 91 91);
padding: 25px;


}

.textoEducacion_1 p{
font-size: 35px;
margin-top: 10px;

}

.textoEducacion_2{
    margin-top: 40px;
    font-size: 25px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(90 91 91);
    padding: 25px;


}

.textoEducacion_2 p{
    font-size: 35px;
     margin-top: 10px;
     
    
    }

    .textoEducacion_3{
      margin-top: 40px;
      font-size: 25px;
      border: 1px solid black;
      box-shadow: 10px 5px 5px rgb(90 91 91);
      padding: 25px;
    }

    .textoEducacion_3 p{
        font-size: 35px;
        margin-top: 10px;
    }

.listaContacto{
    font-size: 40px;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(90 91 91);
    padding: 50px;
    padding-bottom: 20%;
    margin-right: 25px;
    display: flex;
    word-spacing: 7px;
    display: block;
    

}

.listaContacto a{
color: black;
font-weight: bold;
display: block;
padding: 5px;

}

.listaContacto a:hover{
color: white;


}
  