*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    
     

}


a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.liHeader:hover{
background: rgb(158, 154, 154);


}

nav{
    justify-content: space-between;
    display: flex;
    text-align: center;
   

}


.foto{
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 250px;
    height: 350px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(90, 91, 91, 0.384);
    
}

.contenedorFoto{
    display: flex;
   
}

.textoFoto{
  margin-left: 60px;
  margin-top: 25px;
  text-shadow: 2px 2px #00000033;

}

.textoFoto h1{
    font-size: 40px;
    margin-top: 40px;
    
}

.textoFoto p{
    margin-top: 30px;
    font-size: 34px;
}

.contenedorParrafo{
    margin-left: 15px;
    margin-right: 3px;
    margin-top: 25px;
    padding-bottom: 50px;
    text-shadow: 2px 2px #00000025;
   

}

.contenedorParrafo h1{
    font-size: 40px;
    text-decoration: underline;
    text-shadow: 2px 2px #00000030;
}

.contenedorParrafo p{
    font-size: 30px;
    margin-top: 20px;

}

.borde{
    border: 1px solid black;
    padding: 25px;
    padding-top: 5px;
    margin: 5px 15px;
    box-shadow: 10px 5px 5px rgb(90 91 91);
    margin-top: 60px;
    
}

.datos{
    margin-top: 60px;
    
}

.datos p{
    font-size: 25px;
    margin-right: 40px;
    margin-top: 10px;

}
body{
  background-image: url(../img/shapelined-_JBKdviweXI-unsplash.jpg);;
  background-size: cover;
  

 

}


/*footer*/

#footerIndex{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px #00000030;


}

#footerExperiencia{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px #00000030;


}

#footerEducacion{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px #00000030;


}

#footerHabilidades{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px #00000030;
}


#footerContacto{
    margin-top: 105px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px #00000030;
}

/*footer*/

.texto{
    display: flex;
}

.texto h1{
    font-size: 35px;
}

#habilidades{
font-size: 40px;
margin-left: 25px;
margin-top: 25px;
border: 1px solid black;
box-shadow: 10px 5px 5px rgb(90 91 91);
padding: 50px;
padding-bottom: 2%;
margin-right: 25px;
font-weight: bold;
text-shadow: 2px 2px #00000030;


}

#habilidades li{
    padding: 15px;
}

.textoEducacion{
margin: 50px;
margin-top: 40px;
text-shadow: 2px 2px #00000030;



}

.textoEducacion h1{
  text-decoration: underline;

}

.textoEducacion p{
    font-size: 35px;
    margin-top: 10px;

}


.textoEducacion_1{

font-size: 25px;
border: 1px solid black;
box-shadow: 10px 5px 5px rgb(90 91 91);
padding: 25px;


}

.textoEducacion_2{
    margin-top: 40px;
    font-size: 25px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(90 91 91);
    padding: 25px;


}


.textoEducacion_3{
      margin-top: 40px;
      font-size: 25px;
      border: 1px solid black;
      box-shadow: 10px 5px 5px rgb(90 91 91);
      padding: 25px;
    }



.listaContacto{
    font-size: 40px;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(90 91 91);
    padding: 3%;
    margin-right: 25px;
    word-spacing: 5px; 
    

}


.listaContacto a{
color: black;
font-weight: bold;
display: inline-block;
padding: 15px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 15px;
transition: .2s ease all;


}

.listaContacto a:hover{
color: rgb(189, 182, 182)




}

.botonContacto{
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
  
.textoExperiencia{
    margin: 50px;
    margin-top: 40px;
    text-shadow: 2px 2px #00000030;
    
    
    
    }
    
    .textoExperiencia h1{
      text-decoration: underline;
    
    }
    
    .textoExperiencia p{
        font-size: 35px;
        margin-top: 10px;
    
    }

.textoExperiencia_1{

    font-size: 20px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(90 91 91);
    padding: 20px;
    
    
    }
    
    .textoExperiencia_2{
        margin-top: 40px;
        font-size: 20px;
        border: 1px solid black;
        box-shadow: 10px 5px 5px rgb(90 91 91);
        padding: 20px;
    
    
    }
    
    
    .textoExperiencia_3{
          margin-top: 40px;
          font-size: 20px;
          border: 1px solid black;
          box-shadow: 10px 5px 5px rgb(90 91 91);
          padding: 20px;
        }

    .textoExperiencia li{
        padding: 7px;
        font-size: 25px;
    }

    nav{
        background-color: rgb(13, 112, 112);
        height: 80px;
        width: 100%;
    }
    .enlace{
        position: absolute;
        padding: 20px 50px;
    }
    .logo{
        height: 40px;
    }
    nav ul{
        float: right;
        margin-right: 20px;
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    nav ul li a{
        font-size: 30px;
        font-weight: bold;
        margin-left: 100px;
        padding: 10px;
        background-color: rgba(6, 61, 58, 0.596);
        box-shadow: 4px 0px 3px 1px rgba(13, 68, 68, 0.384);
        transition: .3s ease all;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 85px;
        padding-left: 20px;
        padding-right: 20px;
        
        
    }

    li a:hover{
        color: #0e76ffe5;
        transition: .3s;
    }

    

    .checkbtn{
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;
    }
    
    @media (max-width: 958px){

        .checkbtn{
            display: block;
        }

        .menu-hambur{
            position: fixed;
            width: 75%;
            height: 100%;
            background: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }

        nav ul li{
            display: block;
            margin: 60px;
            line-height: 30px;
        }

        nav ul li a{
            font-size: 17px;
        }

        li a:hover, li a.active{
            background: none;
            color: #0080ffea;
        }

        #check:checked ~ ul{
            left:0;
        }

    }